<script setup lang="ts">
import axios from "./service/axios";

async function matchMov(movie: any) {
  try {
    const res = await axios.MatchMovie(movie);
  } catch (error) {
    console.log(error);
  }
}
</script>

<template>
  <v-layout>
    <v-app-bar
      color="transparent"
      :style="{
        backgroundImage: 'linear-gradient(to bottom, #5D0E41, #FF204E)',
      }"
    >
      <v-app-bar-title class="app-bar-font">
        <v-icon>mdi-movie-star</v-icon>
        MATCH MOV
      </v-app-bar-title>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-row>
          <v-col>
            <v-card class="elevation-10">
              <v-card-title class="card-title"> Match your movie </v-card-title>
              <v-card-subtitle class="card-subtitle">
                Select movie that you like the most
              </v-card-subtitle>
              <v-card-text>
                <v-row>
                  <v-col cols="3"></v-col>
                  <v-col cols="6">
                    <v-autocomplete label="Select Movie"></v-autocomplete>
                  </v-col>
                  <v-col cols="3"></v-col>
                </v-row>
              </v-card-text>
              <v-row class="justify-center mb-5">
                <v-btn color="#A0153E" @click="matchMov">MATCH MOVIE</v-btn>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-card class="elevation-10">
              <v-row>
                <v-col class="ma-10">
                  <v-chip>Your Movie that match for you show here</v-chip>
                </v-col>
                <v-col class="ma-10">
                  <v-chip>Your Movie that match for you show here</v-chip>
                </v-col>
                <v-col class="ma-10">
                  <v-chip>Your Movie that match for you show here</v-chip>
                </v-col>
              </v-row>
              <!-- <v-card-text class="text-center">
                Your Movie that match for you show here
              </v-card-text> -->
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Noto Sans Thai");

.app-bar-font {
  color: white;
  font-family: "Noto Sans Thai";
  font-size: 32px;
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-family: "Noto Sans Thai";
  font-size: 24px;
  text-align: center;
}

.card-subtitle {
  font-family: "Noto Sans Thai";
  font-size: 12px;
  text-align: center;
}
</style>
